<header id="commonHeader">
        <section id="flowsHead" class="wf-mplus1p">あなたにあったコミックジャンルが1分でわかる</section>
        <section id="flows" class="wf-mplus1p">コミックジャンル診断</section>
        </header>
        
        <div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>1分だけ下記の質問に答えてみてください。あなたにぴったりのジャンルがわかります!</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>ど派手な描写や壮大な絵面が好きだ</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="2" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>競争心が強いほうだ</div>
                        <div class="qabox">
                            <a href="#4" onclick="show(4)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#14" onclick="show(14)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="3" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>クイズ番組をよく見る</div>
                        <div class="qabox">
                            <a href="#8" onclick="show(8)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#7" onclick="show(7)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="4" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>考えるより先に行動するほうだ</div>
                        <div class="qabox">
                            <a href="#12" onclick="show(12)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="5" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>未解決の事件や不可解な現象に興味がある</div>
                        <div class="qabox">
                            <a href="#101" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="6" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>目標を掲げてコツコツ努力するほうだ</div>
                        <div class="qabox">
                            <a href="#9" onclick="show(9)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#17" onclick="show(17)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="7" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>感受性が高い</div>
                        <div class="qabox">
                            <a href="#10" onclick="show(10)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>

                    <li id="8" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>緊張感があるストーリーが好きだ</div>
                        <div class="qabox">
                            <a href="#5" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="9" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>チームプレーが好きだ</div>
                        <div class="qabox">
                            <a href="#11" onclick="show(11)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#12" onclick="show(12)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="10" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>ドラマチックな展開が好きだ</div>
                        <div class="qabox">
                            <a href="#16" onclick="show(16)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="11" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>学園生活や部活動の日常を描いた作品が好きだ</div>
                        <div class="qabox">
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="12" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>主人公が困難に立ち向かい、成長する物語が好きだ</div>
                        <div class="qabox">
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="13" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>歴史上の出来事や人物に興味がある</div>
                        <div class="qabox">
                            <a href="#15" onclick="show(15)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="14" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>新しい視点で学ぶことに魅力を感じる</div>
                        <div class="qabox">
                            <a href="#13" onclick="show(13)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="15" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>古代文明や歴史的なエピソードに関する知識を深めたい</div>
                        <div class="qabox">
                            <a href="#104" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="16" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>ハッピーエンドを好む傾向にある</div>
                        <div class="qabox">
                            <a href="#105" onclick="show(105)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                            
                    <li id="17" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>必殺技やかっこいい武器に痺れる</div>
                        <div class="qabox">
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#18" onclick="show(18)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    
                    <li id="18" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>とりあえずおすすめ教えて！</div>
                        <div class="qabox">
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#103" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>        
                    </ul>
        
                    <div class="answerList">
        
                        <div id="101" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるジャンルは<span class="fs-18"><span class="bg-y">『ミステリー・サスペンス』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
        <p>●好奇心旺盛</p>
        <p>●緊張感のあるストーリーが好き</p>
        <p>そんなあなたには『ミステリー・サスペンス』をおすすめ！</p>
                                <p><a href="/comics/" class="square_btn">作品を探してみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="102" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるジャンルは<span class="fs-18"><span class="bg-y">『スポーツ・部活・青春』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
        <p>●チームプレーが好き</p>
        <p>●日常を描いた作品が好き</p>
        <p>●コツコツ努力する</p>
        <p>そんなあなたには『スポーツ・部活・青春』をおすすめ！</p>
                                <p><a href="/comics/" class="square_btn">作品を探してみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="103" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるジャンルは<span class="fs-18"><span class="bg-y">『バトル・アクション』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
        <p>●ど派手な描写や絵面が好き</p>
        <p>●必殺技やかっこいい武器に憧れる</p>
        <p>●とりあえずおすすめが知りたい！</p>
        <p>そんなあなたには『バトル・アクション』をおすすめ！</p>
                                <p><a href="/comics/" class="square_btn">作品を探してみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="104" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧めるジャンルは<span class="fs-18"><span class="bg-y">『歴史・時代物』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
        <p>●学ぶことが好き</p>
        <p>●歴史が好き</p>
        <p>●史実に基づいたリアルな時代の流れを漫画で楽しみたい！</p>
        <p>そんなあなたには『歴史・時代物』をおすすめ！</p>
                            <p><a href="/comics/" class="square_btn">作品を探してみる</a></p>
                        </div>
                        </div>
                    </div>
                        <div id="105" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧めるジャンルは<span class="fs-18"><span class="bg-y">『恋愛』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag '' %></div>
    <p>●感受性が高い</p>
    <p>●ハッピーエンドが好き</p>
    <p>●キュンキュンしたい！</p>
    <p>そんなあなたには『恋愛』をおすすめ！</p>
                            <p><a href="/comics/" class="square_btn">作品を探してみる</a></p>
                        </div>
                        </div>
                    </div>
        
        
                </article>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        $(function(){
           $('a[href^=#]').click(function() {
              var speed = 600;
              var href= $(this).attr("href");
              var target = $(href == "#" || href == "" ? 'html' : href);
              var position = target.offset().top;
              $('body,html').animate({scrollTop:position}, speed, 'swing');
              return false;
           });
        });
        $(function(){
            h = $(window).height();
            h = h-30;
            $(".question").css("min-height", h + "px");
            $(".answerList .box").css("min-height", h + "px");
            
        });
        function show(idName){ 
            $("#" + idName).show();
        }
        
        </script>
        
        
</body>
</html>

</div>