<h1>新規投稿ページ</h1>
<%= form_for @comic do |f| %>

  <div class="field">
    <%= f.label :作品名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :ジャンル  %>
    <%= f.select :genre, 
    [["バトル・アクション"], 
    ["スポーツ・部活・青春"], 
    ["歴史・時代物"],
    ["ミステリー・サスペンス"],
    ["恋愛"]],include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :内容  %>
    <%= f.text_area :content, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :感想  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
  
  <div class="field">
  <%= f.label :出版社 %>
  <%= f.text_field :company, :size => 30 %>
  </div>

<div class="field">
<%= f.label :Amazonリンク  %>
<%= f.text_area :link, :size => "30x2" %>
</div>

<div class="field">
<%= f.label :画像 %>
<%= f.file_field :image %>
</div>

<h5>総合評価</h5>
     <div class="post_form">
        <%= f.radio_button :overall, 5 ,id: 'star1'%>
        <label for="star1"><span class="text">最高</span>★</label>
    
        <%= f.radio_button :overall, 4 ,id: 'star2'%>
        <label for="star2"><span class="text">良い</span>★</label>
    
        <%= f.radio_button :overall, 3 ,id: 'star3'%>
        <label for="star3"><span class="text">普通</span>★</label>
    
        <%= f.radio_button :overall, 2 ,id: 'star4'%>
        <label for="star4"><span class="text">悪い</span>★</label>
    
        <%= f.radio_button :overall, 1 ,id: 'star5'%>
        <label for="star5"><span class="text">最悪</span>★</label>
     </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "投稿一覧に戻る", comics_path %>