<div class="newtweetpage">
<h1>新規投稿ページ</h1>
</div>
<div class="newtweetform">
<%= form_for @comic do |f| %>

  <div class="field">
    <%= f.label :作品名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :ジャンル  %>
    <%= f.select :genre, 
    [["バトル・アクション"], 
    ["スポーツ・部活・青春"], 
    ["歴史・時代物"],
    ["ミステリー・サスペンス・裏社会"],
    ["恋愛"]],include_blank: "選択して下さい" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :内容  %>
    <%= f.text_area :content, :size => "30x2" %>
  </div>
  <div class="field">
    <%= f.label :巻数  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :出版社 %>
    <%= f.text_field :company, :size => 30 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :Amazonリンク  %>
    <%= f.text_area :link, :size => "30x2" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :出典 %>
    <%= f.text_field :copyright, :size => 30 %>
  </div>
  <%= f.label :出典元リンク %>
    <%= f.text_area :link2, :size => "30x2" %>
    
  <div class="submit">
  <%= f.submit "投稿する" %>
  </div>
<% end %>

  <div class="tweetback">
    <%= link_to "投稿一覧に戻る", comics_path %>
  </div>
</div>